ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#FFFFFF;
}
.stars {
    margin:20px auto 1px;    
}

.price{
    color: #09881A;
}

.through-line {
    text-decoration: line-through;
    color: #000000;
}

.span-search-prod{
    background-color:#81B3CA;
    color: gray;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}