<ul>
    <li *ngFor="let producto of productos | paginate: { itemsPerPage: 5, currentPage: p };let index = index">
        <a href="/detail/{{producto.id}}" class="list-group-item">
            <div class="media col-xs-3">
                <figure class="pull-left">
                    <!-- <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" > -->
                    <!-- <img width="350" height="200" class="media-object img-rounded " src="https://preview.ibb.co/b2OOTG/22163758_10213761918392720_689120524_o.jpg" alt=""> -->
                    <img width="240" height="180" style="max-width: 240px; max-height: 180px;" class="media-object img-rounded img-responsive" src="{{producto.imagenes[0].imagen}}" alt="">
                    <!-- <img width="150" height="100" class="media-object img-rounded img-responsive" src="{{producto.imagenes[0].imagen}}" alt=""> -->
                 </figure>  
            </div>
            <div class="col-xs-6">
                <h4 class="list-group-item-heading"> {{producto.nombre}} > <span style="font-size: 16px">{{producto.categoria.nombre}} > </span><span style="font-size: 14px">{{producto.marca.nombre}}</span>                    </h4>
                <br>
                <p class="list-group-item-text" style="color:crimson">Hay {{producto.stock}} en stock.</p>
                <p class="list-group-item-text">{{producto.descripcion}}</p>
            </div>
            <div class="col-xs-3 text-center">
                <div *ngIf="producto.descuento == 0; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <h3 class="price"> <small class="price"> {{producto.moneda}} </small> {{producto.precioConDcto}}</h3>
                </ng-template>
                <ng-template #elseBlock>
                    <h3 class="price"> <small class="price"> {{producto.moneda}} </small> {{producto.precioConDcto}} <small class="through-line"> {{producto.moneda}} {{producto.precio}} </small></h3>
                </ng-template>



                <div class="input-group">

                    <div *ngIf="hasProduct(producto.id, index); then thenButton else elseButton"></div>
                    <ng-template #thenButton>
                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-number span-search-prod"  data-type="minus" data-field="quant[2]"
                                            (click)="minusProduct($event, producto.id, producto.stock, index, producto)">
                                          <span class="glyphicon glyphicon-minus span-search-prod"></span>
                        </button>
                        </span>
                        <input type="number" name="cant-{{producto.id}}" [(ngModel)]="cantidad[index]" class="form-control input-number no-spin" style="border-color: #81B3CA; text-align: center; cursor: default"
                            value="1" min="1" max="100" disabled>
                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-number span-search-prod" data-type="plus" data-field="quant[2]"
                                            (click)="plusProduct($event, producto.id, producto.stock, index, producto)">
                                            <span class="glyphicon glyphicon-plus span-search-prod"></span>
                        </button>
                        </span>
                    </ng-template>
                    <ng-template #elseButton>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" style="width: -webkit-fill-available;border: 1px;
                                    border-radius: 5px;" (click)="changeButtonDef($event, producto.id, producto.stock, index, producto)"> AGREGAR AL CARRO </button>
                            </span>
                    </ng-template>




                </div>
                <div class="stars">
                        <rating [(ngModel)]="puntaje[index]" name="puntaje" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="true" [disabled]="false" [required]="false">
                            </rating>
                    <!-- <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span> -->
                </div>
                <a href="/comentarios/{{producto.id}}">Comentarios</a>
                <!-- <p> Average 4.5 <small> / </small> 5 </p> -->
            </div>
        </a>
    </li>
</ul>
<pagination-controls (pageChange)="p = $event"></pagination-controls>