<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
  <!-- top nav -->
  <nav class="navbar navbar-top hidden-xs navbar-border">
   
    <a href="/" style="float: left; margin-top: 4px;"><img width="200" height="64" src="{{urlImage}}" alt=""></a>
    <div class="container">
      <!-- left nav top -->
     <!-- <a href="/" style="float: left; margin-top: 4px;"><img width="200" height="64" src="{{urlImage}}" alt=""></a> -->

      <ul class="nav navbar-nav pull-left">
        <li><a href="/" class="text-green"><span class="glyphicon glyphicon-home icon-size"></span></a></li>
        <li>
          <a href="/carro" class="text-green">
            <span class="glyphicon glyphicon-shopping-cart icon-size">
                <span  class="cart-items-count"><span class=" notification-counter">{{totalCantidad}}</span></span>
            </span>
            <!-- Link
            <span class="item-number">0</span> -->
            
          </a>
        </li>
      </ul>

      <div class="flex-center">
        <!-- <form id="filter"> -->
          <div class="input-group stylish-input-group">
              
              <!-- <input type="text" [(ngModel)]="term" (keypress)="eventHandler($event.keyCode)" class="form-control"  placeholder="Buscar..." > -->
              <input type="text" [(ngModel)]="term" (keypress)="eventHandler($event)" class="form-control"  placeholder="Buscar..." >
              <!-- <input #inpVal type="text" class="form-control"  placeholder="Buscar..." > -->
              <!-- <span class="glyphicon glyphicon-search form-control-feedback"></span> -->
              <!-- <button id="searchButton" name="searchButton" class="form-control-feedback"><span class="glyphicon glyphicon-search form-control-feedback"></span></button> -->
              <!-- <a href="/filtro/{{term}}" class="a-cursor"><span class="glyphicon glyphicon-search form-control-feedback"></span></a> -->
              <!--<div *ngIf="term == undefined; then thenBlock else elseBlock"></div>
               <ng-template #thenBlock><a href="" class="a-cursor"><span class="glyphicon glyphicon-search form-control-feedback"></span></a></ng-template>
              <ng-template #elseBlock><a href="/filtro/{{term}}" class="a-cursor"><span class="glyphicon glyphicon-search form-control-feedback"></span></a></ng-template> -->
              <a href="#" (click)="onClick(term, $event)" class="a-cursor text-green"><span class="glyphicon glyphicon-search form-control-feedback span-search"></span></a>
          </div>
        <!-- </form> -->
      </div>
      

      <!-- right nav top -->
      <div *ngIf="showNavBar; else elseBlock">
          <ul class="nav navbar-nav pull-right">
                <li [ngClass]="{'dropdown open': isActive, 'dropdown': isDisabled}">
                    <a class="dropdown-toggle text-green" (click)="onClickDrop($event)" data-toggle="dropdown" href="#"
                    style="font-size:large" aria-expanded="true">
                      {{user_name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/perfil">Perfil</a></li>
                        <!-- <li><a href="#" (click)="onClickTest($event)">Historial de pedidos</a></li>  -->
                        <li><a href="/compras">Historial de pedidos</a></li> 
                        <li class="divider"></li>
                        <li><a href="#" (click)="onClickLogout($event)">Logout</a></li>
                    </ul>
                  </li>
                 
            </ul>
      </div>
      <ng-template #elseBlock>
          <ul class="nav navbar-nav pull-right">
            <li>
                <a href="/login" class="text-green" style="font-size:large">Login</a>
              </li>
          </ul>
      </ng-template>
      
    </div>
    
  </nav> 
  <!-- down nav -->
  <nav class="navbar navbar-down navbar-border">
    <div class="container">
      <div class="flex-container flex-center">  
            <categoria></categoria>
      </div>  
    </div>
  </nav>
</nav>    

