/*.navbar {
    background-color: #406194;
}
.glyphicon {
    font-size: 30px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    color: white;
}

.navbar-default .navbar-brand {
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    color: white;
}*/

/*scroll effect*/
.navbar-trans {
    border: none;
    transition: top 1s ease;
  }

  .navbar-border{
    border-radius: 0px;    
  }
   
  /*double row*/
  .navbar-doublerow > .navbar{
      display: block;	
      padding: 0px auto;
      margin: 0px auto;
      min-height: 25px;
  }
  .navbar-doublerow .nav{
      padding: 0px auto;
  }
  .navbar-doublerow .dividline{
    margin: 5px 100px;
    padding-top: 1px;
    background-color: inherit;
  }
  /*top nav*/
  .navbar-doublerow .navbar-top ul>li>a {
      padding: 10px auto;
      font-size: 12px;
  } 
  .navbar-top {
    /*background: #F5F5F5;*/
    background: #e6e6e6;
  }

  /*down nav*/
  .navbar-down {
    background: #F5F5F5;
  }

  .navbar-doublerow .navbar-down .navbar-brand {
      padding: 0px auto;
      float: left;
      color: #424141;
      font-size: 32px;
  }
  .navbar-doublerow .navbar-down ul>li>a{
      font-size: 16px;
      color: #424141;
      transition: border-bottom .2s ease-in , transform .2s ease-in-out;
  }
  .navbar-doublerow .navbar-down ul>li>a:hover{
      border-bottom: 1px solid #424141;
      color: #424141;
  }
  .navbar-doublerow .navbar-down .dropdown{
      padding: 5px;
      color: #000;
  }
  .navbar-doublerow .navbar-down .dropdown ul>li>a,
  .navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
    color: #000;
    border-bottom: none;
  }
  .navbar-doublerow.navbar-trans.afterscroll {
     top:-50px;
  }	
  
  .flex-container {
      display: flex;
      justify-content: space-between;
  }

  .flex-center {
    margin: auto;
    width: 50%;
  }

  /*text*/
  .text-green,.text-green-hover:hover{color:#81B3CA!important}
  /*fontcolor*/
  .light-grey {color:#000!important;background-color:#424141!important}
  
  .icon-size{
      font-size: x-large;
  }

  /*search*/

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
    border-color:#ccc;
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    
}

.input-group{
    margin-top: 3%;
    float: left;
    width: 100%;
    /*border-right:0; 
	box-shadow:0 0 1px; 
    border-radius: 5px;*/
}

.span-search{
    /*border-right:0; 
	box-shadow: inset -1px 0 1px 0; 
    border-radius: 2px;*/
    border-radius: 2px;
    background-color:#81B3CA;
    color: gray;
}

.a-cursor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}

.cart-items-count{
    position:sticky;
    display:flex;
    text-align:center;
    justify-content: center;
    top:-55px;
}

.notification-counter {   
    position: absolute;
    left: 20px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 10px Verdana;
}

.cart-button {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}