<section class="col-xs-12 box filter">
    <div class="filter-block">
        <form class="form-horizontal" action="">
            <div class="col-xs-12 form-group tags categories">
                <!-- <h5>Marca</h5>
                <div class="checkbox"><label><input type="checkbox" rel="category-one"/> Category One</label></div>
                <div class="checkbox"><label><input type="checkbox" rel="category-two"/> Category Two</label></div>
                <div class="checkbox"><label><input type="checkbox" rel="category-three"/> Category Three</label></div>
                <div class="checkbox"><label><input type="checkbox" rel="category-four"/> Category Four</label></div>
                <div class="checkbox"><label><input type="checkbox" rel="category-five"/> Category Five</label></div> -->
                <marca></marca>
                <br>
                <h5>Precio</h5>
                <!-- <ion-range-slider #sliderElement type="double" [min]="myMinVar" max="50000" from="28" from_min="10" from_max="30" 
                    from_shadow="true" to="40" to_min="40" to_max="50000" to_shadow="true" grid="false" grid_num="10" prefix="$ "
                    postfix="" decorate_both="true"> -->
                <ion-range-slider #advancedSliderElement type="double" min="10" max="50000" from="100" from_min="10" from_max="25000" from_shadow="true"
                    to="40000" to_min="10" to_max="50000" to_shadow="true" grid="false" grid_num="10" prefix="$ " postfix=""
                    decorate_both="true" (onFinish)="finish(advancedSlider, $event)">
                    <!-- (onUpdate)="myOnUpdate($event)"
                (onChange)="myOnChange($event)"
                (onFinish)="myOnFinish($event)" -->
                </ion-range-slider>

                <!-- <b>€ 10</b> 
                <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
                <b>€ 1000</b> -->
                <br>
                <!-- <h5>Valoración media de los clientes</h5> -->
                <h5>Valoración</h5>
                <div class="stars">
                    <div>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <!-- <span>o más</span> -->
                        <a href="#" (click)="filtroValoracion($event, 4)">o más</a>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <!-- <span>o más</span> -->
                        <a href="#" (click)="filtroValoracion($event, 3)">o más</a>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <!-- <span>o más</span> -->
                        <a href="#" (click)="filtroValoracion($event, 2)">o más</a>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-star color-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <span class="glyphicon glyphicon-star-empty color-empty-star"></span>
                        <!-- <span>o más</span> -->
                        <a href="#" (click)="filtroValoracion($event, 1)">o más</a>
                    </div>
                </div>
                <br>
            </div>
        </form>
    </div>
</section>