
/** {
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: #FFAB62;
      
      .no-padding { padding: 0; }
      
      .box {
        margin-bottom: 50px;
        
        .results {
          padding: 15px;
          border-radius: 5px;      
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
          background: #fff;
        }
        
        .well {
          margin-bottom: 0;
        }
        
        .arrow {
          position: relative;
          top: 0;
        }
      }
      
      .filter {
        padding: 15px;
        border-radius: 5px;      
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
        background: #fff;
      }

      .stars {
        margin:20px auto 1px;    
      }
    }
  }*/

  /*.box {
    margin-bottom: 50px;
    
    .results {
      padding: 15px;
      border-radius: 5px;      
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
      background: #fff;
    }
    
    .well {
      margin-bottom: 0;
    }
    
    .arrow {
      position: relative;
      top: 0;
    }
  }*/
  
  .filter {
    padding: 15px;
    /*border-radius: 5px;      
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    background: #fff;*/
  }

  .stars {
    margin:20px auto 1px;   
    
  }

  .color-star{
    color: #FDE16D; 
  }

  .color-empty-star{
    color: #ddd; 
  }