a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

.leftNav{
    float: left;
    position: relative;
    z-index: 2;
    width: 200px;
}
