<div class="leftNav  col-xs-3">
    <filtro></filtro>
</div>
<div class="container  col-xs-9">
    <div class="row">
            <!-- <div class="row"> -->
        <div class="well">
        <div class="list-group">
            <producto></producto>
        </div>
        </div>
    </div>
</div>