.navbar-trans {
    border: none;
    transition: top 1s ease;
  }
   
  /*double row*/
  .navbar-doublerow > .navbar{
      display: block;	
      padding: 0px auto;
      margin: 0px auto;
      min-height: 25px;
  }
  .navbar-doublerow .nav{
      padding: 0px auto;
  }
  .navbar-doublerow .dividline{
    margin: 5px 100px;
    padding-top: 1px;
    background-color: inherit;
  }
  /*top nav*/
  .navbar-doublerow .navbar-top ul>li>a {
      padding: 10px auto;
      font-size: 12px;
  } 
  .navbar-top {
    background: #F5F5F5;
  }

  /*down nav*/
  .navbar-doublerow .navbar-down .navbar-brand {
      padding: 0px auto;
      float: left;
      color: #424141;
      font-size: 32px;
  }
  .navbar-doublerow .navbar-down ul>li>a{
      font-size: 16px;
      color: #424141;
      transition: border-bottom .2s ease-in , transform .2s ease-in-out;
  }
  .navbar-doublerow .navbar-down ul>li>a:hover{
      border-bottom: 1px solid #424141;
      color: #424141;
  }
  .navbar-doublerow .navbar-down .dropdown{
      padding: 5px;
      color: #000;
  }
  .navbar-doublerow .navbar-down .dropdown ul>li>a,
  .navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
    color: #000;
    border-bottom: none;
  }
  .navbar-doublerow.navbar-trans.afterscroll {
     top:-50px;
  }	
  
  .flex-container {
      display: flex;
      justify-content: space-between;
  }

  .flex-center {
    margin: auto;
    width: 50%;
  }

  /*text*/
  .text-white,.text-white-hover:hover{color:#424141!important}
  /*fontcolor*/
  .light-grey {color:#000!important;background-color:#424141!important}