<ul class="nav navbar-nav hidden-xs">
    <li>
        <!-- <a href="/categoria/0">Todos</a> -->
        <a href="#" (click)="onClick(0, $event)">Todos</a>
    </li>
    <li *ngFor="let categoria of categorias">
        <!-- <a href="/categoria/{{ categoria.id }}">{{ categoria.nombre }}</a> -->
        <a href="#" (click)="onClick(categoria.id, $event)">{{ categoria.nombre }}</a>
    </li>
</ul>