<!--The content below is only a placeholder and can be replaced.-->
<div class="header-app">
  <navbar></navbar>
</div>
<!-- <div class="leftNav">
    <filtro></filtro>
</div> -->
<router-outlet></router-outlet>
<!-- <productos></productos> -->
<!-- <div class="container">
  <hr />
  <productos></productos>
</div> -->

