<ul>
    <li>
        <h5>Marca</h5>
    </li>
    <li *ngFor="let marca of marcas; let i=index">
         <!-- <div class="checkbox"><label><input type="checkbox" [checked]="marcaChecked" 
            (change)="onChangeMarca(marcaChecked.checked)"/> {{marca.nombre}}</label></div> -->
            <!-- <div class="checkbox"><label><input id="{{marca.id}}" type="checkbox" [checked]="marcaChecked"
                 (click)="onChangeMarca($event.target.checked)"/> {{marca.nombre}}</label></div> -->
                 <!-- <div class="checkbox"><label><input [value]="marca.id" (change)="onChangeMarca($event)"
                    /> {{marca.nombre}}</label></div> -->
                    <div class="checkbox"><label><input type="checkbox" (change)="onChangeMarca(marca.id, $event.target.checked)"
                        /> {{marca.nombre}}</label></div>
                    
            
    </li>
</ul>